# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# and trailing whitespace removed
[*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{sh,bash}]
indent_style = space
indent_size = 2
end_of_line = lf

[*.{js,jsx,json,mjs,cjs,ts}]
indent_style = space
indent_size = 2

# Matches configuration files for services like Travis, AppVeyor and Codecov
[*.{yaml,yml}]
indent_style = space
indent_size = 2
